# Compilation
*.o
*.so
*.dylib
build*

# validation drivers
*/validation/bin
*/validation/config/*
!*/validation/config/README
*/validation/lib/*
!*/validation/lib/README
*/validation/frifte_e1n_validation_*
*/validation/output

# Temp files
.DS_Store
._*
*.swp

# Validation images
*/validation/images
*/validation/frif_*_validation_images-*.tar.xz
*/validation/frifte_*_validation_images-*.tar.xz

# Documentation
doc/doxygen/html

